.hidden {
  display: none;
}
.columns {
  padding-left: 100px;
  padding-right: 100px;
}
/* background color */
body{
  background-color: 		#d2e7d6;
}
/* card color and grid spacing */
.card {
  background-color: #b8d8be;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hero {
    background-image: linear-gradient(#d2e7d6, #ade1b6  );
}